@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";

select {
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: .2rem;
  margin-top: .5rem;
  font-weight: bold;
}

div.loading-message {
  font-weight: bold;
}