span.pointer,
th.pointer {
    cursor: pointer;
}

td.left-column {
    vertical-align: top;
    text-align: center;
    padding-right: 15px;
}

div.heading {
    font-weight: bold;
}

div.form {
    text-align: center;
}

div.spacing {
    padding: 5px;
}

tr.highlighted-team {
    background-color: lightblue;
}

table.team-table {
    width: 100%;
}

.shareable-link {
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}

.title {
    margin-bottom: 0.5rem;
}

.settings-modal-body {
    padding: 10px;
    overflow: auto;
}

div.settings-modal-body input.form-control {
    width: auto;
}

div.settings-modal-body .title {
    margin-top: 0.25rem;
}

div.settings-modal-body p.description {
    font-size: small;
    font-style: italic;
    text-align: center;
}

.modal-header {
    background-color: #f5f5f5;
}

.modal-header.panel-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-wrapper {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1040
}

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    -webkit-animation: fade-in 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fade-in 0.2s; /* Firefox < 16 */
    -o-animation: fade-in 0.2s; /* Opera < 12.1 */
    animation: fade-in 0.2s;
}

.modal-child {
    margin: 30px auto auto;
    z-index: 2;
    background-color: white;
    border: solid #b2b7b7 3px;
    -webkit-animation: fade-in-child 0.2s;
    -moz-animation: fade-in-child 0.2s;
    -o-animation: fade-in-child 0.2s;
    animation: fade-in-child 0.2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}

@keyframes fade-in-child {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
